body {
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

header {
    line-height: 1.5;
    background-color: #005689;
    color: #FFF;
    padding: 5px 5px 0 5px;
}

nav {
    background-color: #00456e;
}

.navtext {
    color: #fff;
    padding: 5px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    margin-right: 8px;
    margin-left: 5px;
    font-weight: bold;
}

.crumbtext {
    color: #005689;
    padding: 5px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    margin-right: 8px;
    margin-left: 5px;
    font-weight: bold;
}

.crumbcarat {
    color: #767676;
}

.spacer {
    margin-top: 12px;
}

.align-row {
    padding-left: 0;
}

.remove-side-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Top navigation text styles */

.top-nav {
    font-family: "Guardian Egyptian Text", Georgia, serif;
    color: #FFF;
    vertical-align: middle;
    display: inline-block;
}

.top-menu {
    background-color: #333;
    padding: 15px;
}

.top-nav-inverse {
    color: #005689;
}

.crumbs {
    background-color: #dfdfdf;
    padding: 10px;
}

/* end of top nav text styles */


/* Guardian logo styles */

.logo-holder {
    padding: 10px;
}


/* end of Guardian logo styles

/* Article styles */

.main-bg-color {
    background-color: #FFF;
}

aside {
    position: relative;
}

.aside-titles {
    position: relative;
    font-size: 22px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 900;
    color: #00456e;
}

.article-border {
    border-top: 1px solid #4bc6df;
    width: 100%;
    display: block;
}

article {
    background-color: #eee;
}

article .inverse {
    background-color: #925;
}

article .main {
    height: 371px;
}

article .news {
    height: 309px;
}

article .indepth {
    height: 81px;
}

article .main .title-holder {
    padding: 5px 10px 10px 10px;
}

article .news .title-holder {
    padding: 5px 10px 10px 10px;
}

article .indepth .title-holder {
    position: relative;
}

article .main .title-text {
    font-size: 22px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 600;
    color: #555;
}

article .main .sub-text {
    font-size: 16px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 600;
    color: #333;
}

article .news .sub-text {
    font-size: 16px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 600;
    color: #333;
}

article .indepth .sub-text {
    font-size: 15px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 400;
    color: #333;
}

article .main .pre-text {
    font-size: 12px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    color: #767676;
}

article .main .inverse {
    color: #FFF;
}

article .indepth .inverse {
    color: #FFF;
}

article .sub {
    height: 95px;
    position: relative;
}

article .sub .title-holder {
    padding: 5px 10px 10px 10px;
}

article .sub .title-text {
    font-size: 14px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 500;
    color: #555;
}

article .indept .title-text {
    font-size: 14px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 300;
    color: #555;
}

article .sub .news-story-text {
    font-size: 14px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 600;
    color: #555;
}

article .comment {
    position: absolute;
    bottom: 4px;
    margin-left: 12px;
    font-size: 12px;
    color: #767676;
}

article .comment-indepth {
    position: absolute;
    top: 60px;
    margin-left: 150px;
    font-size: 12px;
    color: #767676;
}

article .spacer {
    margin-top: 10px;
}

.buffer {
    margin-top: 15px;
}

.img-repo {
    width: 100%;
}


/* end of article styles */


/* badge styles */

.badge-text {
    color: #FFF;
    font-size: 16px;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-weight: 600;
}

.badge {
    background-color: #059;
    padding: 5px;
}

.side-stories-link {
    position: absolute;
    bottom: 30px;
    background-color: #FFF;
    border: 1px solid #4bc6df;
    color: #37a;
}

hr {
    border-color: #4bc6df;
}


/* 1280 container specifics */

@media (min-width: 1200px) {
    .container {
        width: 1300px;
    }
}